.container {
  height: 100%;
  border-left: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  :global(.luna-image-viewer) {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}

.no-preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player {
  width: 100%;
  height: 100%;
}

.music-player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.music-visualizer {
  flex: 1;
}

.music-player {
  width: 100%;
  :global(.luna-music-player-body) {
    border: none;
  }
  :global(.luna-music-player-icon-file) {
    display: none;
  }
}

.text-viewer {
  height: 100%;
  width: 100%;
  border: none;
}

.pdf-viewer {
  height: 100%;
  width: 100%;
  border: none;
}
