@each $class in (':root', '.-theme-with-dark-background') {
  $selected-bg: #ddd;
  $even-bg: #ededed;
  @if $class == '.-theme-with-dark-background' {
    $selected-bg: #393939;
    $even-bg: #1e1e1e;
  }
  #{$class} {
    .luna-data-grid-data-container {
      .luna-data-grid-node.luna-data-grid-selected,
      .luna-data-grid-node.luna-data-grid-selectable:hover {
        background-color: $selected-bg;
      }
      tr:nth-child(even) {
        background-color: $even-bg;
      }
    }
    .luna-data-grid:focus {
      .luna-data-grid-node.luna-data-grid-selectable.luna-data-grid-selected {
        background-color: var(--color-primary);
      }
    }
  }
}
